@import "../../styles/colors.scss";

.wrapper {
    // border: 1px solid green;
    padding: 0 5%;

    @media screen and (min-width: 581px) {
        display: none;
    }
}

.rowContainer {
    // border: 1px solid red;
    margin: 1% 0;
}

.colContainer {
    // border: 1px solid blue;
    margin: 1% 0;
}

.smalTxt {
    font-size: 12px;
    color: $color-text-primary;
    margin: 0;
}

.bigTxt {
    font-size: 16px;
    color: #999999;
    margin: 0;
}

.btnContainer {
    border: 1px solid #575757;
    width: 100%;
    border-radius: 3px;
    background-color: #F5F5F5;
    cursor: pointer;
    // margin: 6px 0;
}

.btnTxt {
    font-size: 14px;
    margin: 2% 0;
    color: #999999;
}

.textContainer {
    border: 2px solid #E2E2E3;
    position: relative;
    display: flex;
    font-size: 20px;
    color: #292929;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 15%;
    padding: 0 1%;
    border-radius: 5px;
    outline: none;
    background-color: #fff;

    @media screen and (max-width: 991px) {
        font-size: 14px;
    }

    @media screen and (max-width: 769px) {
        font-size: 11px;
    }

    @media screen and (max-width: 580px) {
        font-size: 20px;
        width: 100%;
        margin: 6px 0;
    }
}

.editHeading {
    font-size: 22px;
}
