.formstyles input:checked[type=checkbox] {
    background-image: url('../../../public/assets/selected-dot') !important;
    // background-image: url('../../../public/assets/selected-dot.svg') !important;
    // border-color: #707070;
    background-size: 10px 10px;
    background-position: 2px center !important;
    cursor: pointer;
    background-color: #EBEBEB;

    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}
