@import "../../styles/colors.scss";

.wrapper {
    // border: 10px solid indigo;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.headingWrapper {
    // border: 10px solid red;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    // background-color: #F4F4F4;
    // background-image: url('../../../public/assets/bazaarPlanBackground.png');
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 450px) {
        background-color: #fff;
        background-image: none;
        margin-top: 25px;
    }
}

.headingTxt {
    font-size: 30px;
    color: $color-primary;
    margin: 60px 0;
    font-weight: bold;

    @media screen and (max-width: 1024px) {
        font-size: 20px;
    }

    @media screen and (max-width: 765px) {
        margin-top: 0;
        margin-bottom: 30px;
    }

}

.sliderWrapper {
    width: 100%;
    background-color: #fff;
}

.headingTxt2 {
    font-size: 27px;
    color: $color-primary;
    margin: 10px 0;
    margin-right: 4%;
    margin-left: 1%;


    @media screen and (max-width: 450px) {
        font-size: 19px;
        margin-right: 0;
    }
}

.abc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    // padding: 5px;
    // border: 10px solid black;
    margin: 0 5px;


}

.background {
    margin: 0 0 60px 0;

    @media screen and (max-width: 450px) {
        background-color: #FFF;
        margin-bottom: 20px;

    }
}

.imgWrapper {
    border-top: 1px solid #C9C9C9;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    background-color: #F4F4F4;
    background-image: url('../../../public/assets/bazaarPlanBackground.png');
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 450px) {
        flex-direction: column;
    }
}


@media screen and (max-width: 772px) {
    .abc {
        height: 100px;
    }

    .wrapper {
        background-image: none;
    }
}


.partnersDiv {
    text-align: -webkit-center;
    cursor: pointer;
    width: 100%;
    img {
        margin: auto;
        height: 80px;
        transition: transform .5s;

        /* Animation */
        &:hover {
            transform: scale(1.2);
        }
    }
}