@import '../../styles/colors.scss';

.wrapper {
    width: 100%; 
    background-image: url('../../../public/assets/customeradvisor.png');
    //background-color:#1C1B1B;
    background-size: contain;
    border-style: solid;
    border-color: #C9C9C9;
    border-width: 0.81px 0 0.81px 0;
//     box-shadow: 0px 10px 1px 10px rgba(183,182,182,1);
// -webkit-box-shadow: 0px 0px 1px 0px rgba(183,182,182,1);
// -moz-box-shadow: 0px 0px 1px 0px rgba(183,182,182,1);

}

.container {
    width: 100%;
    padding: 1%;
}

.para {
    font-size: 17px;
    color: $color-primary;
    margin: 0 5%;
    @media screen and (max-width: 1024px) {
        font-size: 15px;
    }
    @media screen and (max-width: 770px) {
        font-size: 12px;
    }
}











.mwrapper {
    width: 100%;
}

.mcontactadvisor {
    margin: 4% 8%;
    padding: 10px;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(233,20,49,1) 0%, rgba(162,34,45,1) 100%);
     box-shadow: 0px 4px 20px 0px #E7090936;  
    -webkit-box-shadow: 0px 4px 20px 0px #E7090936;
    -moz-box-shadow: 0px 4px 20px 0px #E7090936;

}

.micon {
    width: 30px;
    margin-right: 10px
}

.madvisorpara {
    color: #fff;
    font-size: 22px;
    @media screen and (max-width: 330px) {
        font-size: 18px;
    }
}

.CategoriesBottonsMobileContainer {
    margin: 25px 20px;
    margin-bottom: 0;
}