@import "../../styles/colors.scss";


.wrapper {
    // padding-bottom: 20px;
}

.wrapper1 {

    // background-image: url('../../../public/assets/contactusbg.png');
    background-position: center;
    background-color: #F4F4F4;
    background-position: center;
    background-size: cover;
    height: 300px;

    @media screen and (max-width: 430px) {
        height: auto;
    }

}

.inputError {
    color: #ff3333;
    font-size: 12px;
    padding-left: 2px
}

.container1 {
    display: flex;

    @media screen and (max-width: 430px) {
        flex-direction: column;
        padding-bottom: 15px;

        //    margin-bottom: -50px;
    }
}

.textdiv {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    padding-top: 30px;
    width: 70%;
    @media screen and (max-width: 430px) {
        padding-top: 10px;
        margin-top: 10px;

    }

}

.heading {
    font-size: 36px;
    color: $color-primary;

    @media screen and (max-width: 430px) {
        font-size: 21px;
        display: block;


    }




}

.headinginred {
    font-size: 27px;
    color: $color-text-secondary;

    @media screen and (max-width: 430px) {
        font-size: 21px;



    }
}

.UANtxt {
    color:'#fff';
    &:hover {
        cursor: context-menu;
        color: #fff
    }
}

.subheading {
    font-size: 16px;
    color: #515151;

    @media screen and (max-width: 430px) {
        font-size: 12px;

    }
}

.imagecol {
    display: flex;
    align-items: center;
    padding-top: 20px;


}

.wrapper2 {
    // background-color: #ffffff;
    width: 100%;
    margin-top: -130px;

    @media screen and (max-width: 430px) {
        background-color: #F0F0F0;
        padding-top: 10px;
        margin-top: 0px;

    }

}

.container2 {
    display: flex;
    padding-bottom: 6px;

}

.cardWrapper {
    display: flex;
    justify-content: center;

    &:hover {
        cursor: context-menu;
    }

}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 201px;
    margin: 2% 0;
    border: 1px solid #707070;
    border-radius: 5px;
    background-color: #FFF;

    @media screen and (max-width: 430px) {
        // margin-top: 60px;
        height: 138px;

    }

}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.heading2 {
    font-size: 16px;
    color: $color-primary;

    @media screen and (max-width: 770px) {
        font-size: 12px;
    }
}

.number {
    font-size: 32px;
    color: $color-primary;
    cursor: pointer;

    @media screen and (max-width: 770px) {
        font-size: 28px;
    }

    &:hover {
        color: $color-text-secondary;
    }
}

.email {
    font-size: 18px;
    color: $color-primary;
    cursor: pointer;

    @media screen and (max-width: 770px) {
        font-size: 14px;
    }

    &:hover {
        color: $color-text-secondary;
    }
}

// .maintab {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // border: none ;
//     border-bottom: 1px solid #B2B2B2 !important;
// }



// .maintab li button {

//     font-size: 24px !important;
//      color: $color-primary !important ;
//     border: none !important;
//     // border: 4px solid red !important;

//     &:hover {
//         border-bottom: 3px solid $color-text-secondary  !important;
//         color: $color-text-secondary  !important
//     }

//     &:active {
//         border-bottom: 3px solid $color-text-secondary  !important;
//         color: $color-text-secondary  !important;

//     }

//     &:focus {
//         border-bottom: 3px solid $color-text-secondary  !important;
//         color: $color-text-secondary  !important
//     }


// }
.tabs {
    margin-top: 70px;

}

.activeTab {
    border-bottom: 3px solid $color-text-secondary;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;

    :hover {
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {
        padding-bottom: 13px;
    }

    @media screen and (max-width: 770px) {
        padding: 0 0 13px 0;
        padding-right: 20px;
        padding-left: 20px;
    }

}

.inActiveTab {
    border-bottom: 1px solid #B2B2B2;
    padding: 0 0 13px 0;
    padding-right: 30px;
    padding-left: 30px;

    :hover {
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {
        padding: 0 0 10px 0;
        padding-right: 30px;
        padding-left: 30px;
    }

    @media screen and (max-width: 770px) {
        padding: 0 0 9px 0;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.tabTxtActive {
    margin: 0;
    font-size: 20px;
    color: $color-text-secondary;


    @media screen and (max-width: 999px) {
        font-size: 16px;
    }

    @media screen and (max-width: 770px) {
        font-size: 12px;
    }

    @media screen and (max-width: 500px) {
        font-size: 10px;
    }
}

.tabTxtInactive {
    margin: 0;
    font-size: 20px;
    color: $color-primary;


    @media screen and (max-width: 999px) {
        font-size: 16px;
    }

    @media screen and (max-width: 770px) {
        font-size: 12px;
    }

    @media screen and (max-width: 500px) {
        font-size: 10px;
    }
}

.borderBottomTab {
    border-bottom: 1px solid #B2B2B2;
    margin-top: -3px;

    @media screen and (max-width: 1024px) {
        margin-top: -4px;
    }
}

.wrapper3 {
    background-color: #F4F4F4;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    @media screen and (max-width: 430px) {
        background-color: #FFFFFF;
        padding: 0
    }
}

.reachouttxt {
    font-size: 20px;
    color: $color-primary;
    padding-top: 30px;

    @media screen and (max-width: 430px) {
        display: none;

    }
}

.reactoutimg {
    @media screen and (max-width: 430px) {
        display: none;

    }
}

.reachoutformdiv {
    background-color: #FFFFFF;
    border: 1px solid #A3A3A3;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;

    @media screen and (max-width: 430px) {
        border: none;

    }


}

.writetous {
    padding-top: 10px;
    margin-left: 20px;

    @media screen and (max-width: 430px) {
        margin-left: 0;

    }

}

.requestcallback {
    padding-top: 25px;

    @media screen and (max-width: 430px) {
        padding-top: 10px;

    }


}

.requestcallbacktxt {
    color: $color-text-secondary;
    font-size: 21px;

}

.inputfields {
    padding-top: 40px;

    @media screen and (max-width: 430px) {
        padding: 0;

    }
}

.radioImgContainer {
    width: 15px;
    margin-right: 10px;


    &:hover {
        cursor: pointer;
    }
}

.iAgreeTxt {
    font-size: 14px;
    color: $color-primary;
    margin: 0;

    .iAgreeTxtRed {
        color: $color-text-secondary;
        text-decoration: underline;
        cursor: pointer;
    }
}


.radiobuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.formstyles {
    margin-bottom: 10px;
    display: flex;
    align-items: center;



}

.formstyles input {

    height: 14px;
    width: 14px;
    border-radius: calc(14px/2);
    border: 1px solid $color-text-secondary;
    cursor: pointer;





}

.formstyles input:checked[type=radio] {
    background-color: #FFF !important;
    border: 1px solid $color-text-secondary !important;
    background-image: url('../../../public/assets/mdot.png') !important;
    background-size: 6px;
    background-position: 3px 3px;



}

.formstyles input:focus {


    background-color: #FFF !important;
    border: 1px solid #852D3B !important;
    outline: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}

.radiotxt {
    // margin-right: 10px !important;


}


.radiotxt label {
    margin: 0;
    font-size: 19px;
    color: $color-primary;
    display: flex;
    text-align: center;



    @media screen and (max-width: 430px) {
        font-size: 14px;

    }
}



.textarea {
    margin-top: 10px;
    outline: none;
    border: 0.71px solid #A7A7A7;
    border-radius: 5px;
    padding: 10px;
    height: 150px;
    resize: none;

    @media screen and (max-width: 430px) {
        background-color: #F2F2F2;
    }
}

.gmap_iframe {
    width: 700px;
    height: 500px;
}

.mwrapper {
    width: 22%;
    padding-bottom: 20px;

    &:hover {
        cursor: pointer;
    }

    @media screen and (max-width: 430px) {
        width: 100%;
        margin-top: 5px;

    }

}

.mcontactadvisor {
    // margin: 4% 10%;
    padding: 10px;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(233, 20, 49, 1) 50%, rgba(162, 34, 45, 1) 100%, );
    box-shadow: 0px 4px 20px 0px #E7090936;
    -webkit-box-shadow: 0px 4px 20px 0px #E7090936;
    -moz-box-shadow: 0px 4px 20px 0px #E7090936;

    @media screen and (max-width: 430px) {

        padding: 12px;
    }
}

.madvisorpara {
    margin: 0;
    color: #fff;
    font-size: 15px;

    @media screen and (max-width: 992px) {
        font-size: 13px;
    }

    @media screen and (max-width: 330px) {
        // font-size: 18px;
    }
}

.wrapper4 {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 770px) {
        padding-top: 10px;
    }

}

.accordiondiv {
    border: 1px solid $color-text-secondary;
    border-radius: 5px;
    padding: 0 15px;

    @media screen and (max-width: 430px) {
        background-color: #F0F0F0;
        border: 1px solid #404040;
    }

    @media screen and (max-width: 770px) {
        padding: 0 10px;
    }

}

.eachWrapper {

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    :hover {
        cursor: pointer;
    }

}

.headingrow {
    width: 90%;
}


.eachImgContainerAbsolute {
    width: 18px;
}

.eachheading {
    margin: 10px 0 10px 10px;
    color: $color-primary;
    font-size: 23px;
    font-weight: 400;
    text-align: center;

    @media screen and (max-width: 770px) {
        margin: 5px 0 5px 5px;
        font-size: 20px;
    }

    @media screen and (max-width: 600px) {
        font-size: 18px;
    }
}

.eachAnswer {
    margin: 0 0 10px 10px;
    color: $color-primary;
    font-size: 18px;
}



.wrapper5 {
    padding-top: 30px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 430px) {
        padding: 0;
        align-items: start;

    }
}

.locateuscontainer {
    @media screen and (max-width: 430px) {
        padding: 0;
        margin: 0;


    }
}

.row {

    display: flex;
    align-items: center;
    flex-direction: row;

    @media screen and (max-width: 430px) {
        flex-direction: column-reverse;


    }

}


.locateuscol1 {
    @media screen and (max-width: 430px) {
        padding-left: 30px;


    }

}

.locateustxt {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.firstdiv {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    @media screen and (max-width: 430px) {
        margin-top: 0px;

    }
}

.seconddiv {
    display: flex;
    flex-direction: row;
    width: 100%;


}

.reachoutimg {

    width: 384px;
    margin-left: 30px;

    @media screen and (max-width: 430px) {

        display: none;
    }
}

.subdiv {
    display: flex;
    flex-direction: column;
    width: 30%;

    @media screen and (max-width: 770px) {
        width: 50%;
    }

    @media screen and (max-width: 430px) {

        width: 40%;
    }
}

.redtxt {
    color: $color-text-secondary;
    font-size: 20px;

    @media screen and (max-width: 430px) {
        font-size: 16px;

    }
}

.redtxt2 {
    color: $color-text-secondary;
    font-size: 14px;

    @media screen and (max-width: 430px) {
        font-size: 11px;

    }
}

.greytxt {
    color: $color-primary;
    font-size: 20px;
    padding-right: 10px;
    @media screen and (max-width: 430px) {
        font-size: 16px;

    }
}

.separator {
    border-right: 0.5px solid #B2B2B2;
    margin: 10px 10px;

    @media screen and (max-width: 430px) {
        margin: 10px 25px;

    }
}

.separator2 {
    border-top: 1px solid #707070;
    margin: 10px 0;


}

.mobilecontainer {

    display: flex;
    flex-direction: column;

}

.mobileTab {
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #707070;
    padding: 15px;

}

.mobTabImg {
    width: 20px;
    height: 11px;

}

.mobileTabTxt {
    text-align: center;
    font-size: 22px;
    color: $color-primary;

}

.notOTPTxtDiv {
    height: 20px;
}

.notOTPTxt {
    font-size: 12px;
    color: $color-text-secondary;
    margin: 0;
    margin-left: 5px;
}

.marginOnTermError {
    margin-top: 10px;
}

.submitButton {
    width: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;

    @media screen and (max-width: 770px) {
        width: 100%;
    }
}
