@import "../../styles/colors.scss";

.downloadinvoicecontainer {
    background-color: rgb(128, 130, 133, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 50px 30px 50px;

}

.carcol {
    width: 10%;
    margin-right: 2%;

    @media screen and (max-width:1024px) {
        margin-right: 3%;
    }

    @media screen and (max-width:770px) {
        margin-right: 1%;
        width: 15%;

    }

    @media screen and (max-width:430px) {}
}

.carimage {
    width: 128px;

    @media screen and (max-width:1024px) {
        width: 100px;

    }

    @media screen and (max-width:770px) {
        width: 80px;

    }

    @media screen and (max-width:430px) {
        width: 100px;

    }
}

.normaltext {
    font-size: 31px;
    color: #58595B;
    display: inline;

    @media screen and (max-width:1024px) {
        font-size: 28px;


    }

    @media screen and (max-width:770px) {
        font-size: 20px;


    }


}

.normaltextred {
    font-size: 55px;
    color: $color-text-secondary;
    line-height: 0.8;

    @media screen and (max-width:1024px) {
        font-size: 50px;
    }

    @media screen and (max-width:770px) {
        font-size: 35px;


    }
}

.plaintext {
    font-size: 20px;
    color: #58595B;
    line-height: 3;

    @media screen and (max-width:1024px) {
        font-size: 18px;
    }

    @media screen and (max-width:770px) {
        font-size: 15px;
    }

}

.plaintextred {
    font-size: 20px;
    color: $color-text-secondary;
    text-decoration: underline;
    margin: 0;
    margin-top: 10px;

    &:hover {
        cursor: pointer;
    }

    @media screen and (max-width:1024px) {
        font-size: 18px;
        margin-top: 5px;

    }

    @media screen and (max-width:770px) {
        font-size: 15px;
        margin: 0;

    }

}

.buttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 60px;



}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DA2E2E;
    border-radius: 5px;
    width: 55%;
    height: 60px;
    margin-bottom: 35px;

    &:hover {
        cursor: pointer;
        background-color: #DA2E2E;

        .buttontxt {
            color: #FFFFFF;
        }
    }

    @media screen and (max-width:1024px) {
        width: 70%;

    }

    @media screen and (max-width:770px) {
        width: 90%;
        margin-bottom: 20px;
        height: 50px;



    }
}

.buttontxt {
    font-size: 22px;
    color: $color-text-secondary;

    @media screen and (max-width:770px) {
        font-size: 20px;

    }
}

.invoicecol {
    width: 35%;

    @media screen and (max-width:1024px) {
        width: 44%;
    }

    @media screen and (max-width:770px) {
        width: 48%;
    }
}

.invoicereportwrapper {

    margin-top: -200px;
    width: 100%;
    border: 1px solid #999999;
    border-radius: 5px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.30);

    @media screen and (max-width:1024px) {
        margin-top: -150px;

    }

    @media screen and (max-width:770px) {
        margin-top: -100px;
        margin-left: 40px;

    }
}

.invoicediv {
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    flex-direction: column;

    @media screen and (max-width:770px) {
        padding: 10px;

    }
}

.invoiceupperdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.invoicedivimg {
    width: 125px;

    @media screen and (max-width:770px) {
        width: 90px;

    }
}

.invoicetxtred {
    font-size: 26px;
    color: $color-text-secondary;

    @media screen and (max-width:770px) {
        font-size: 22px;


    }

}

.invoicelowerdiv {
    display: flex;
    flex-direction: column;

}

.invoicelowerrow {
    display: flex;

    justify-content: space-between;
    padding: 5px 20px;

    @media screen and (max-width:770px) {
        padding: 5px 12px;

    }
}

.invoiceheadingstxt {
    font-size: 20px;
    color: $color-primary;

    @media screen and (max-width:770px) {
        font-size: 14px;

    }
}

.invoiceheadingstxtred {
    font-size: 20px;
    color: $color-text-secondary;

    @media screen and (max-width:770px) {
        font-size: 14px;

    }
}

.invoicelowerrow2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;

    @media screen and (max-width:770px) {
        padding: 5px 12px;


    }

}

.line {
    position: absolute;
    top: 0;
    left: 10px;
    width: 95%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, transparent 50%, #999999 50%);
    background-size: 15px 5px;

    @media screen and (max-width:770px) {
        background-size: 10px 5px;



    }

}


//



.pdfdiv {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 1440px;

}


.pdfcontainer {
    display: flex;
    flex-direction: column;
    background-image: url('~public/assets/pdfdownloadbg.png');
    background-position: stretch;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    background-color: #FFF;



}

.invoicelogoContainer {
    display: flex;
    justify-content: space-between;

}

.takafullogo {
    width: 161px;

}

.invoicelogo {
    width: 256px;

}

.invoicevalueContainer {
    display: flex;
    flex-direction: column;
    margin-top: auto;

}

.invoicenoText {
    font-size: 18px;
    color: $color-primary;
    font-weight: 600;
    margin: 0
}

.invoiceValue {
    font-size: 18px;
    margin: 0;
    color: $color-text-secondary;
}

.invoiceplainText {
    font-size: 18px;
    margin: 0;

}

.invoiceBigText {
    font-size: 16px;
    color: $color-primary;
    font-weight: 600;
    margin: 0
}

.invoiceplainBigText {
    font-size: 16px;
    margin: 0;

}

.totalContainer {
    background-color: #ECEBEB;
    align-items: center;
    padding: 20px 10px;
}

.totalText {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: $color-text-secondary
}

.thankyouText {
    font-size: 18px;
    color: $color-primary;
    margin: 0;
}

.thankyouTextRed {
    font-size: 18px;
    color: $color-text-secondary;
    margin: 0;
}

.border {
    border-top: 1px solid $color-primary;
    margin-top: 20px;
}

.numberRedtext {
    color: $color-text-secondary;
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

.footer {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    margin-top: 20px;
}

.blackbg {
    background-color: #000;
    display: flex;
    padding: 10px 0;

}

.mapImg {
    width: 10px;
    margin-right: 4px;
}

.addresstxtbold {
    color: #fff;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.addresstxt {
    color: #fff;
    font-size: 14px;
    margin: 0
}

.separator {
    border-right: 1px solid #fff;
    margin: 0 4px;
    height: 10px;
}
