@import "../../styles/colors.scss";

.goBackImgContainer {
    width: 10px;
}

.goBackTxt {
    color: $color-text-secondary;
    font-size: 14px;
    margin: 0 10px;
}

.cursorPointer{
    display: flex;
    align-items: center;
    justify-content: center;

    :hover {
        cursor: pointer;
    }

}