@import "../../styles/colors.scss";

.form__input-group {
    height: 38px;
    width: 100%;
    position: relative;
    display: flex;
    background-color: #fff;
    margin-bottom: 5px;
}

.form__input {
    width: 100%;
    padding: 1px;
    border: 0.7px solid #939393;
    border-radius: 5px;
    transition: border 0.25s ease-in-out;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:placeholder-shown) {
        outline: none;
        border: 0.7px solid #939393;
    }
    &:focus {
        outline: none;
        border: 0.7px solid #939393;
    }
}

.form__input-label {
    color: $border;
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    transform: translateY(-50%);
    transition: all 0.25s ease-in-out;
}

.form__input-label {
    top: 0;
    background-color: #fff;
    font-size: 12px;
    padding: 0 10px;
}

.inputError {
    color: #ff3333;
    font-size: 12px;
    padding-left: 2px;
    margin-bottom: 10px;
}