@import "../../styles/colors.scss";

.wrapper {
    background-color: #fff;
    z-index: 1;
    padding: 0 15px;
    padding-top: 10px;
    border: 0.9px solid #C9C9C9;
    border-radius: 5px;


    @media screen and (max-width: 430px) {
        border: 0px;
        padding: 0 30px;
        padding-top: 15px;
    }


}

.dropDownContainer {
    border: 0.56px solid #8E8E8E;
    height: 40px;
    position: relative;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px 0;


    :hover {
        cursor: pointer;
    }

    @media screen and (max-width: 430px) {
        height: 60px;

    }
}

.dropContainer {
    border: 1px solid #8E8E8E;
    // border: 5px solid red;
    position: absolute;
    top: 39px;
    left: -1px;
    right: -1px;
    z-index: 1;
    margin-top: 1px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0;


    @media screen and (max-width: 430px) {
        margin-top: 22px;
        right: -0.5px;
    }

}

.scrollContainer {
    // border: 5px solid blue;
    width: 100%;
    max-height: 110px;
    overflow-y: scroll;

}

.scrollContainer::-webkit-scrollbar {

    width: 8px;
    background-color: #F5F5F5;



}

.scrollContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #A2A2A2;

}

.dropMenuItems {
    color: $color-primary;
    margin: 3px 10px;

    &:hover {
        color: $color-text-secondary;
    }
}

.selectedTxt {
    font-size: 16px;
    color: $color-primary;
    margin: 0;
    border: 0;
    width: 100%;
    outline: none;

    &::-webkit-input-placeholder {
        color: $color-primary;
    }

    @media screen and (max-width: 425px) {
        font-size: 24px;
    }
}

.formImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;

    @media screen and (max-width: 425px) {
        width: 20px;
    }
}

.bannerTxt {
    color: $color-primary;
    font-size: 13px;
    margin: 0 7px 0 0;

    @media screen and (max-width: 425px) {
        font-size: 18px;
    }
}

.calenderTxt {
    color: $color-primary;
    font-size: 14px;
    margin: 0;

    @media screen and (max-width: 425px) {
        font-size: 18px;
        margin-bottom: 7px;
    }
}

.inputDayMonth {
    border: 0;
    outline: none;
    border-bottom: 2px solid $color-primary;
    width: 25px;
    text-align: center;
}

.calSerate {
    margin: 0 2px -3px 5px;
    color: $color-primary;
    font-weight: 500;
    font-size: 20px;
}

.inputYear {
    border: 0;
    outline: none;
    border-bottom: 2px solid $color-primary;
    width: 40px;
}

.calImageCont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    margin: 10px 0 0 10px;

    // &:hover {
    //     cursor: pointer;
    // }
}

.calInput {
    opacity: 0;
}

.formstyles input {
    background-image: url('../../../public/assets/dot2.png') !important;
    border-color: #707070;
    background-size: 10px 10px;
    background-position: 2px center !important;
    cursor: pointer;
    background-color: #EBEBEB;
}

.formstyles input:checked[type=checkbox] {
    background-color: #F2E4E7;
    border: 1px solid #D93034;
    background-image: url('../../../public/assets/dot.png') !important;
    background-size: 10px 10px;
    background-position: 19px center !important;
}

.formstyles input:focus {
    background-image: url('../../../public/assets/dot2.png') !important;
    border-color: #707070;
    background-size: 10px 10px;
    outline: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-position: 2px center;
}

.webCalender {
    display: flex;

    @media screen and (max-width: 430px) {
        display: none;
    }
}


.mobCalender {
    display: flex;

    @media screen and (min-width: 430px) {
        display: none;
    }
}

.calenderInputContainer {
    border: 1px solid #707070;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    color: #515151;
    font-size: 18px;
}

.calenderInput {
    width: 100%;
    border: 0;
    outline: none;
    color: #999999;
    font-size: 17px;
    background-color: #fff;
}



.calenderInput[type="date"] {
    -webkit-appearance: none;
    background-image: url('../../../public/assets/CalenderLogoMobile.png');
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: right;
}



.calenderInput[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1 !important;
    display: block;
    background-image: url('../../../public/assets/CalenderLogoMobile.png');
    background-size: 28px;
}

.CalenderLogoMobile {
    width: 28px;
}

.notOTPTxt {
    font-size: 12px;
    color: $color-text-secondary;
    margin: 0;
    margin-left: 5px;
    margin-top: -10px;
}

/* Chrome, Safari, Edge, Opera */
.selectedTxt::-webkit-outer-spin-button,
.selectedTxt::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.selectedTxt[type=number] {
    -moz-appearance: textfield;
}
