@import '../../styles/colors.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;

}

.container {
    width: 100%;
}

.heading {
    font-size: 21.71px;
    color: $color-primary;
    text-align: center;
    margin: 5% 2% 2% 2%;
    font-weight: bold;

    @media screen and (max-width: 430px) {
        font-size: 25px;
    }
}

.row {

    margin: 2% 0 0 0;

    @media screen and (max-width: 430px) {
        margin: 4%;

    }


}

.paragraph {

    color: $color-primary;
    margin: 0 5%;
    font-size: 18px;

    // margin:30px 10px;
    @media screen and (max-width: 430px) {
        text-align: center;
        margin: 4% 10%;
    }
}
