@import "../../styles/colors.scss";

.formTopContainer {
    margin: 1% 0;
}

.topTxt {
    font-size: 16px;
    color: $color-primary;
    margin: 0;
    margin-left: 10px;

    .topTxtRed {
        color: $color-text-secondary;
        cursor: pointer;
    }
}


.formstyles input{
    background-image:url('../../../public/assets/dot2.png') !important ;
    border-color: #707070;  
    background-size: 10px 10px;
    background-position: 2px center !important;
    cursor: pointer;
    background-color: #EBEBEB;
    
}
   
.formstyles input:checked[type=checkbox]{
    background-color:#F2E4E7;
    border:1px solid #D93034;
    background-image:url('../../../public/assets/dot.png') !important ;
    background-size: 10px 10px;
    background-position:19px center !important;

}
.formstyles input:focus{
   background-image:url('../../../public/assets/dot2.png') !important ;
    border-color: #707070;
    background-size: 10px 10px;
    outline: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-position: 2px center;
}
