.mainModal {
    background-color: rgba(49, 49, 49, 0.8);
}

.modalWrapper {
    background-color: rgba(233, 20, 49, 1);
    border-radius: 5px;
    padding-top: 7px;
    margin-top: -1px;
    width: 130%;
    align-self: center;

    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.modalFormTopTxt {
    margin: 5px 0;
    color: #fff;
    font-size: 13px;
    margin-left: 15px;
}

.modalContaienr {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: -5px;
    padding: 0 15px;
}