$color-primary: #515151;
$color-text-primary: #151515;
$color-text-secondary: #e91431;
$color-paragraph: #1c1b1b;
$color-border: #fe0a0a;
$color-label: #666666;
$border: #939393;
$color-input: #e8f5e6;
$border-input: #b6d3b3;
$color-input-image: #70a66c;
