@import "../../styles/colors.scss";

.wrapper {
    background-color: #F4F4F4;
    background-image: url('../../../public/assets/banner-background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    // border: 10px solid red;

}

.topContainer {}

.leftContainer {
    width: 55%;
}

.heading {
    color: $color-primary;
    font-size: 26px;
    font-weight: 500;
    margin: 10px 0;

    @media screen and (max-width: 1000px) {
        font-size: 22px;
    }

    @media screen and (max-width: 450px) {
        font-size: 20px;
        margin-top: 20px;
    }
}

.headingRed {
    color: $color-text-secondary;
    margin-top: -10px;
}

.topTxt {
    color: $color-primary;
    font-size: 18px;
    margin: 0;

    @media screen and (max-width: 1000px) {
        font-size: 16px;
    }
}

.rightContainer {
    width: 35%;
    margin: 50px 0;

    @media screen and (max-width: 770px) {
        width: 40%;
    }

    @media screen and (max-width: 450px) {
        width: 100%;
    }
}

.btnFAQTxt {
    color: $color-primary;
    font-size: 17px;
    margin: 0;

    @media screen and (max-width: 1000px) {
        font-size: 15px;
    }

    @media screen and (max-width: 470px) {
        font-size: 10px;
    }

    @media screen and (max-width: 450px) {
        font-size: 16px;
    }
}

.bottomContainer {
    margin-bottom: -28px;

    @media screen and (max-width: 550px) {
        margin-bottom: -23px;
    }
}

.searchContainer {
    border: 1px solid #707070;
    height: 58px;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 0 15px;
    border-radius: 5px;
    width: 60%;
    box-shadow: 0px 3px 6px 1px #00000020;
    -webkit-box-shadow: 0px 3px 6px 1px #00000020;
    -moz-box-shadow: 0px 3px 6px 1px #00000020;

    :hover {
        cursor: pointer;
    }

    @media screen and (max-width: 1000px) {
        margin-top: 20px;
        width: 80%;
    }

    @media screen and (max-width: 550px) {
        height: 46px;
    }


    @media screen and (max-width: 450px) {
        width: 90%;
    }
}

.searchInput {
    border: 0;
    border-left: 1px solid #707070;
    width: 90%;
    font-size: 14px;
    padding: 0 0 0 10px;
    outline: none;
    margin-left: 7px;
}

.searchNotSelectedText {
    margin: 0;
    color: $color-primary;
    font-size: 18px;
}

.searchImgContainer {
    width: 25px;
}

.dotImgContainer {
    width: 5px;
}

.mobileBtnContainer {
    height: 100px;

    @media screen and (max-width: 450px) {
        margin-bottom: -50px;
    }
}

.bottomContainerMobile {
    margin-top: 50px;
    // border: 10px solid red;
}

.tabs {
    // border: 10px solid red;

    margin-top: 50px;
}

.activeTab {
    //border-bottom: 3px solid $color-text-secondary;
    // padding-bottom: 2px;
    font-weight: 600;
    padding-bottom: 15px;
    p {
        border-bottom: 3px solid $color-text-secondary;
        padding-bottom: 10px;
    }

    :hover {
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {
        padding-bottom: 16px;
    }

    @media screen and (max-width: 770px) {
        padding: 0 0 23px 0;
    }

}

.inActiveTab {
    //border-bottom: 1px solid #969696;
    padding: 0 0 28px 0;

    :hover {
        cursor: pointer;
    }

    // @media screen and (max-width: 1450px) {
    //     padding: 0 0 14px 0;
    // }
    @media screen and (max-width: 1024px) {
        padding: 0 0 12px 0;
    }

    @media screen and (max-width: 770px) {
        padding: 0 0 19px 0;
    }
}

.borderBottomTab {
    //border-bottom: 1px solid #B2B2B2;
    //margin-top: -3px;

    @media screen and (max-width: 1024px) {
        margin-top: -4px;
    }
}

.tabTxtActive {
    margin: 0;
    font-size: 20px;
    color: $color-text-secondary;


    @media screen and (max-width: 999px) {
        font-size: 16px;
    }

    @media screen and (max-width: 770px) {
        font-size: 12px;
    }

    @media screen and (max-width: 500px) {
        font-size: 10px;
    }
}

.tabTxtInactive {
    margin: 0;
    font-size: 20px;
    color: #969696;

    @media screen and (max-width: 999px) {
        font-size: 16px;
    }

    @media screen and (max-width: 770px) {
        font-size: 12px;
    }

    @media screen and (max-width: 500px) {
        font-size: 10px;
    }
}

.mobileTab {
    background-color: #F0F0F0;
    border-radius: 2px;
    padding: 10px 0;
}

.mobileTabTxt {
    color: $color-primary;
    font-size: 16px;
    margin: 0;
}

.mobTabImg {
    width: 13px;
}

.icons {
    height: 90px;
    width: 90px;
    padding: 20px;
    border-radius: calc(90px/2);
    background-color: #fff;
    justify-content: center !important;
    border: 1.21px solid #808285;

    @media screen and (max-width: 450px) {
        height: 70px;
        width: 70px;
        padding: 15px;
        border-radius: calc(70px/2);
    }
}

.icons:hover {

    border-radius: 50%;
    border: 1.21px solid #E91431;
    box-shadow: 0px 3px 6px 0px #E9143147;
    -webkit-box-shadow: 0px 3px 6px 0px #E9143147;
    -moz-box-shadow: 0px 3px 6px 0px #E9143147;
}




.listStyle {
    list-style-type: none;
    padding-left: 30px;
    margin: 0;
    // border-left: #969696;
    // border-left-width: 1px;
    // border-left-style: solid;

    @media screen and (max-width: 450px) {
        border: none;
        padding-left: 0px;

    }

    .checkmark {
        background: url('../../../public/assets/listicon.png') no-repeat left top;
        background-size: 20px;
        padding: 0;
        padding-left: 25px;
        margin-top: 10px;
    }
}

.documentDamageList {
    color: #969696;
    margin: 10px 5px;
    font-size: 18px;
    position: relative;
    font-weight: 500;



    @media screen and (max-width: 772px) {
        margin: 10px 3px;
        font-size: 10px;
    }

    &:hover {
        color: $color-text-secondary;
        cursor: pointer;

    }
}

.circle {
    // content: '';
    margin-left: 20px;
    left: calc(50% - 18px);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E91431;

}

.documentDamageType {
    // border-left: #707070;
    // border-left-width: 1px;
    // border-left-style: solid;
}

.scrolling-wrapper {
    overflow-x: auto;
}
