@import '../../styles/colors.scss';

.wrapper {
    display: flex;
    width: 100%;
    background-color: #F3F3F3;

    @media screen and (max-width: 430px) {
        padding-top: 15%;
    }



}

.container {
    width: 100%;


}

.mcontainer {
    width: 100%;

    @media screen and (max-width: 430px) {
        padding: 0;
        margin: 0;
        //margin-bottom: -80px;
    }
}

.row {
    margin-top: 50px;
    margin-bottom: 70px;

}

.col {
    padding: 0;
    margin: 0;

    @media screen and (max-width: 430px) {
        margin-bottom: -120px;
    }

}

.heading {
    font-size: 24px;
    color: $color-primary;
    text-align: center;
    margin-top: 6%;
    // margin-bottom: 2%;
    font-weight: bold;


}

.headingInRed {
    font-size: 24px;
    color: $color-text-secondary;
}

.mheading {
    font-size: 25px;
    font-weight: bold;
    color: $color-primary;
    margin: 6% 10%;
    text-align: center;
}

.mpara {
    text-align: center;
    font-size: 20px;
    color: $color-primary;
    margin: 6% 10%;


}

.selector-wrapper {
    position: relative;

}

.selectors {
    position: absolute;
    padding-left: 5px;
    top: 145px;
    right: 1%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #F2F2F2;
    z-index: 1;
    box-shadow: 0px 3px 6px 0px rgba(49, 49, 49, 0.65);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(49, 49, 49, 0.65);
    -moz-box-shadow: 0px 3px 6px 0px rgba(49, 49, 49, 0.65);

    @media screen and (max-width: 380px) {
        top: 125px;



    }

}

.rightarrow {
    width: 12px;
}

.autoTakafulparagraph {
    font-size: 18px;
    color: $color-primary;
    margin: 0 5%;

    @media screen and (max-width: 430px) {
        text-align: center;
        margin: 0 10%;
    }
}
