@import "../../styles/colors.scss";

.best-gurantee {
    text-align: left;
    display: block;
    width: 100%;
    z-index: 1;
    font-size: 30px;
    margin-top: 31%;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #80828510;
    background-image: url('../../../public/assets/best-grantee-banner.png');
    background-color: #F5F5F5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 410px;
}

.font-size-price-gurantee{
  font-size: 17px;
  font-weight: 400;
}



.wrapper {
    // border: 10px solid black;
    width: 100%;
    background-color: #fff;

    @media (max-width: 450px) {
        margin-bottom: 30%;
    }
}

.container {
    //  border: 10px solid green;
    margin-bottom: 5%;
    width: 100%;
}

.whyChooseHeading {
    margin: 4% 0 0.5% 0;
    font-size: 25px;
    color: $color-primary;
    text-align: center;
    font-weight: bold;

    @media (max-width: 450px) {
        margin-top: 10%;
        font-size: 20px;
    }
}

.TakafulRedText {
    margin: 4% 0 0.5% 0;
    font-size: 25px;
    color: $color-text-secondary;
    text-align: center;

    @media (max-width: 450px) {
        margin-top: 10%;
        font-size: 20px;

    }
}

.factsText {
    color: $color-primary;

    text-align: center;

    font-size: 16px;
    color: #515151;
    text-align: center;
    margin: 0 30px;
    margin-bottom: 3%;


    @media (max-width: 450px) {
        margin-top: 10%;
    }
}


.whychooseHeadingtxt {
    font-size: 18px;
    color: $color-primary;
    margin: 5% 0 0 0;
    padding: 0;
    font-weight: 700;

    @media (max-width: 450px) {
        // font-size: 18;
    }
}

.whychoosetxt {
    color: $color-primary;
    font-size: 16px;
    text-align: center;
    margin: 0 8%;
    padding: 0;

    @media (max-width: 450px) {
        font-size: 16px;
    }

}

.whychoosetxtRed {
    color: $color-text-secondary;
    font-size: 16px;
    padding: 0;
    font-style: italic;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    @media (max-width: 450px) {
        margin-top: 5%;
        font-size: 18px;
        text-align: center;
    }
}

.modalContainer {
    // border: 2px solid #707070;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.modalContainer2 {
    // border: 2px solid #707070;
    width: 100%;
    display: flex;
    flex-direction: column;
    // padding: 10px;

}

.empty {
    margin: 0;
    padding: 0;
}


.modalHeading {
    color: $color-primary;
    font-size: 26px;
}

.crossBtn {
    img {
        position: relative !important;
        width: auto !important;
        height: auto !important;
        top: -5px !important;
        cursor: pointer;
    }
}

.modalTxt {
    color: $color-primary;
    font-size: 18px;
}

.signUpText {
    color: $color-text-secondary;
    font-size: 18px;
    cursor: pointer;
    font-style: italic;

    @media (max-width: 450px) {
        margin-top: 5%;

        text-align: center;
    }

}

.modalTxt2 {

    color: $color-primary;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.lists {
    margin-left: 25px;
    margin-right: 25px;
}


.modalLi {
    color: $color-primary;
    font-size: 16px;
}

.modalsubTxt {
    color: $color-primary;
    font-size: 12px;
}

.modalsubTxt2 {
    color: $color-primary;
    font-size: 16px;
    margin-right: 18px;
    margin-left: 18px;


}
.contact-us-btn {
    background: transparent linear-gradient(180deg, #EE1633 0%, #A7202E 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    height: 48px;
    border: none;
    color: #fff;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    >span {
        margin-right: 10px !important;
    }
}
.info-heading{
    font-size: 20px;
    color: #EE1633;
    font-weight: 600;
}
.info-upload-heading{
    font-size: 25px;

}

.term-condition{
    font-size: 16px;
}