@import "../../styles/colors.scss";

.maincontainer {
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (max-width:430px) {
        padding: 0 15px;
        background-color: #fff;
    }
}

.txtFieldsRow {
    margin-bottom: 1.5%;

    @media screen and (max-width:770px) {
        margin-bottom: 2%;
    }
}

.PersonalDetailsheading {
    font-size: 22px;
    color: $color-text-secondary;

    @media screen and (max-width:430px) {
        display: none;
    }
}

.insuranceDetailsContainer {
    display: flex;
    flex-direction: column;
    border: 0.5px solid $border;
    border-radius: 5px;
    padding: 20px;
    background-color: #FFF;
    margin-top: 10px;

    @media screen and (max-width:430px) {
        margin-top: 20px;

    }


}

.insuranceDetailsHeading {
    font-size: 22px;
    color: $color-text-secondary;

    @media screen and (max-width:430px) {
        font-size: 18px;

    }

}

.insuranceDetailsHeadinggrey {
    font-size: 22px;
    color: $border;

    @media screen and (max-width:430px) {
        font-size: 16px;

    }
}

.incometax {

    @media screen and (max-width: 770px) {
        flex-direction: column;
    }
}

.incomeheading {
    color: $color-primary;
    font-size: 20px;

    @media screen and (max-width: 770px) {
        font-weight: 400;
        font-size: 16px;

    }

    @media screen and (max-width: 430px) {

        font-size: 16px;
        width: 100%;
    }
}

.radiobtn {
    margin-left: 5%;

    @media screen and (max-width: 770px) {
        margin-left: 0;
    }

    @media screen and (max-width: 430px) {
        margin-top: 10px !important;
    }
}

.radiobtn2 {
    margin-left: 5%;

    @media screen and (max-width: 770px) {
        margin-left: 0;
    }

    @media screen and (max-width: 430px) {
        margin-top: 25px !important;
    }
}

.incomeheadingred {
    color: $color-text-secondary;
    font-size: 18px;

    @media screen and (max-width: 770px) {

        font-size: 17px;
    }

}

.filercol {
    display: flex;
    flex-direction: row;
}

.filertextred {
    color: $color-text-secondary;
    font-size: 18px;
    text-decoration: underline;
    margin-right: 7px;

    &:hover {
        cursor: pointer;
    }



    @media screen and (max-width: 430px) {
        font-size: 14px;
        margin-right: 4px
    }

    @media screen and (max-width: 380px) {
        font-size: 12px;

    }

}

.filertext {
    color: $color-primary;

    &:hover {
        cursor: context-menu;
    }

    @media screen and (max-width: 430px) {
        font-size: 14px;
        margin-right: 4px
    }

    @media screen and (max-width: 380px) {
        font-size: 12px;

    }
}


.note {
    font-size: 14px;
    color: $color-primary;

    @media screen and (max-width: 430px) {
        font-size: 12px;
        font-style: italic;
    }

}

.note_details {
    font-size: 14px;
    color: $color-primary;


}

.notetxt {
    font-size: 14px;
    color: $color-primary;

    @media screen and (max-width: 430px) {
        font-weight: bold;
        font-size: 12px;
    }

}

.dropdown-input {
    height: 58px;

    @media screen and (max-width: 500px) {
        height: 54px;
        margin: 15px 0;
    }
}

.inputBorder {
    border: 0.7px solid $border;
    border-radius: 5px;
    background-color: #fff;
    height: 71px;
    padding: 5px 10px;
    width: 100%;
    resize: none;
    outline: none;
    color: #000000;

}

.inputError {
    color: #ff3333;
    font-size: 12px;
    padding-left: 2px
}

.submitButton {
    width: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;

    @media screen and (max-width: 770px) {
        width: 100%;
    }
}

.custom-width-checkbox {
    width: 0.3%;
}

.same-as-text-color {
    color: #ff3333;
}