@import "../../styles/colors.scss";

.wrapper {
    // border: 10px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 10px 0;


    @media screen and (max-width: 580px) {
        display: none;
    }
}

.dropDownContainer {
    border: 1px solid #E2E2E3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 15%;
    padding: 0 1%;
    border-radius: 5px;
    outline: none;
    background-color: #fff;

    &:hover {
        cursor: pointer;
    }
}

.textContWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex: 1
}

.textContainer {
    border: 1px solid #E2E2E3;
    position: relative;
    display: flex;
    font-size: 20px;
    color: #292929;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding: 0 1%;
    border-radius: 5px;
    outline: none;
    background-color: #fff;

    @media screen and (max-width: 991px) {
        font-size: 14px;
        height: 35px;
    }

    @media screen and (max-width: 769px) {
        font-size: 11px;
        height: 30px;
    }
}

.textContainer ::-webkit-input-placeholder ::-moz-placeholder ::-ms-input-placeholder ::-moz-placeholder {
    color: yellow;
}

.dropDownSelectedTxt {
    margin: 0;
    font-size: 20px;
    color: #292929;

    @media screen and (max-width: 769px) {
        font-size: 15px;
    }
}


.imgContainer {
    // border: 5px solid red;
    width: 20px;

    @media screen and (max-width: 769px) {
        width: 13px;
    }
}

.dropDownItemsContainer {
    border: 1px solid #E2E2E3;
    position: absolute;
    right: 0;
    left: 0;
    top: 40px;
    border-top: 0;
    padding: 3%;
    margin-top: -5%;
    background-color: #fff;
    z-index: -1;
}

.dropDownItemTxt {
    margin: 5px 0;
    font-size: 15px;
    color: $color-primary;

    @media screen and (max-width: 769px) {
        font-size: 11px;
    }

    &:hover {
        cursor: pointer;
        color: $color-text-secondary;
    }
}

.btnContainer {
    // border: 3px solid purple;
    width: 15%;

    &:hover {
        cursor: pointer;
    }
}

.filterImgContainer {
    // border: 3px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3%;
}

/* Chrome, Safari, Edge, Opera */
.textContainer::-webkit-outer-spin-button,
.textContainer::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.textContainer[type=number] {
    -moz-appearance: textfield;
}

.form__input-group {
    height: 38px;
    margin: 15px 0;
    width: 100%;
    position: relative;
    display: flex;
    div.react-datepicker__input-container {
        height: inherit;
    }
}
.form__input {
    width: 100%;
    padding: 10px;
    border: 0.7px solid #939393;
    border-radius: 5px;
    transition: border 0.25s ease-in-out;
    font-size: 16px;
    height: 100%;

    input:focus {
        box-shadow: none;
        border: none;
    }

    &:not(:placeholder-shown) {
        outline: none;
        border: 0.7px solid #939393;
    }
    &:focus {
        outline: none;
        border: 0.7px solid #939393;
    }
  }
  
  .form__input-label {
    color: $border;
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    transform: translateY(-50%);
    transition: all 0.25s ease-in-out;
  }
  
  .form__input-label {
    top: 0;
    background-color: #fff;
    font-size: 12px;
    padding: 0 10px;
  }
    