@import "../../styles/colors.scss";

.formInputContainer {
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    margin-top: 10px;
}

.formInput {
    font-size: 16px;
    // color: #C1C1C1;
    // opacity: 0.6;
    margin: 0;
    width: 100%;
    outline: none;
    border: 0;

    // height: 35px;
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.mobileInput {
    height: 25px;
}

.sendOTPcon {
    border: 2px solid #E0E0E0;
    position: absolute;
    border-radius: 5px;
    background-color: #f1f1f1;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

.sendOTPTxt {
    font-size: 13px;
    color: #414141;
    margin: 0;
}

.sendOTPTxtNext {
    color: $color-text-secondary;
    font-size: 13px;
    margin: 0;
}

.notOTPTxt {
    font-size: 12px;
    color: $color-text-secondary;
    margin: 0;
    margin-left: 5px;
}

// .errorDiv {
//     height: 18px;
// }

/* Chrome, Safari, Edge, Opera */
.formInput::-webkit-outer-spin-button,
.formInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.formInput[type=number] {
    -moz-appearance: textfield;
}

.phoneNoInput input {
    border: none;
    width: 100%;
    height: 100%;
}