@import "../../../styles/colors.scss";

.radioImgContainer {
    width: 15px;
    margin-right: 10px;
    margin-left: 5px;

    &:hover {
        cursor: pointer;
    }
}

.iAgreeTxt {
    font-size: 12px;
    color: $color-primary;
    margin: 0;

    &:hover {
        cursor: pointer;
    }

    .iAgreeTxtRed {
        color: $color-text-secondary;
        text-decoration: underline;
    }
}

.notOTPTxt {
    font-size: 12px;
    color: $color-text-secondary;
    margin: 0;
    margin-left: 5px;
}
