@import "../../styles/colors.scss";

.wrapper {
    width: 100%;
    margin: 0;
    margin-bottom: 3%;

    @media screen and (max-width: 430px) {
        margin-top: 8%;
    }

    @media screen and (max-width: 600px) {
        font-size: 25px;
    }
}

.container {
    // border: 10px solid green;
    width: 100%;

    @media screen and (max-width: 600px) {
        padding: 0 10%;
    }
}

.mainHeading {
    font-size: 24px;
    color: $color-primary;

    margin: 5% 0 1% 0;
    font-weight: bold;

    .mainHeadingRed {
        color: $color-text-secondary;
    }

    @media screen and (max-width: 600px) {
        font-size: 20px;
        text-align: center;
    }
}

.mainTxt {
    color: $color-primary;
    font-size: 18px;
    text-align: center;
    margin: 0 14%;
    margin-bottom: 5%;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.mainTxtRed {
    color: $color-text-secondary;
    font-size: 18px;
    text-align: center;
    margin: 0 0.5%;
    text-decoration: underline;
    margin-bottom: 5%;
    cursor: pointer;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.mainTxt2 {
    color: $color-primary;
    font-size: 16px;
    text-align: center;
    margin: 0 5%;
    margin-bottom: 5%;

}

.eachWrapper {
    //  border: 10px solid purple;
    width: 100%;

    :hover {
        cursor: pointer;
    }
}

.eachTopRow {
    // border: 2px solid indigo;
    width: 90%;
}

.eachImgContainer {
    // border: 2px solid indigo;
    max-width: 22px;
    // height: 22px;
}

.eachImgContainerAbsolute {
    // border: 10px solid indigo;
    width: 18px;
    // position: absolute;
    // right: 0;
}

.eachQuestion {
    margin: 13px 0 15px 25px;
    color: $color-primary;
    font-size: 20px;
    font-weight: 500;

    @media screen and (max-width: 450px) {
        font-size: 16px;
    }
}

.eachAnswer {
    margin: 0 10% 0 0;
    color: $color-primary;
    font-size: 18px;
    font-weight: 300;

    @media screen and (max-width: 450px) {
        font-size: 16px;
    }

    &:hover {
        cursor: context-menu;
    }
}

.eachAnswer2 {
    margin: 0 10% 0 0;
    color: $color-text-secondary;
    font-size: 18px;
    text-decoration: underline;

    @media screen and (max-width: 450px) {
        font-size: 16px;
    }

    &:hover {
        cursor: pointer;
    }
}

.separator {
    width: 100%;
    border-bottom: 0.5px solid #B2B2B2;
    margin: 10px 0;
}

.redTxt {
    margin: 20px 0;
    font-size: 17px;
    color: $color-text-secondary;
    cursor: pointer;

    @media screen and (max-width: 450px) {
        font-size: 16px;
    }
}