@import "../../styles/colors.scss";

.floatingFormlWrapper {
    overflow: auto;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url('../../../public/assets/signInSignUpBackground.png');

    @media screen and (max-width: 400px) {
        background-position: right;
    }
}

.floatingFormlContainer {
    border: 2px solid #e0e0e0;
    width: 400px;
    background-color: #fff;
    border-radius: 7px;

    @media screen and (max-width: 412px) {
        width: 85%;
    }
}

.formTopContainer {
    margin: 1% 0;
}


.topTxt {
    font-size: 16px;
    color: $color-primary;
    margin: 0;
    margin-left: 10px;

    .topTxtRed {
        color: $color-text-secondary;
    }
}


.formHeading {
    font-size: 21px;
    color: $color-primary;
    margin: 15px 0 0 0;
    // margin-left: 10px;
}

.formTxt {
    font-size: 17px;
    color: $color-primary;
    margin: 0 0 0 0;
}

.radioImgContainer {
    width: 15px;
    margin-right: 10px;
}

.formInputContainer {
    border: 2px solid #E0E0E0;
    border-radius: 5px;
}

.sendOTPcon {
    border: 2px solid #E0E0E0;
    position: absolute;
    border-radius: 5px;
    background-color: #f1f1f1;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendOTPTxt {
    font-size: 13x;
    color: #414141;
    margin: 0;
}

.sendOTPTxtNext {
    color: $color-text-secondary;
    font-size: 13x;
    margin: 0;
}

.notOTPTxt {
    font-size: 12px;
    color: $color-text-secondary;
    margin: 0;
    margin-top: -8px;
}

.formInput {
    font-size: 17px;
    color: $color-primary;
    margin: 0;
}

.iAgreeTxt {
    font-size: 12px;
    color: $color-primary;
    margin: 0;

    .iAgreeTxtRed {
        color: $color-text-secondary;
    }
}

.formBtn {
    // background-color: ;
}

.mwrapper {
    width: 100%;
}

.mcontactadvisor {
    // margin: 4% 10%;
    padding: 7px;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(233, 20, 49, 1) 0%, rgba(162, 34, 45, 1) 100%);
    box-shadow: 0px 4px 20px 0px #E7090936;
    -webkit-box-shadow: 0px 4px 20px 0px #E7090936;
    -moz-box-shadow: 0px 4px 20px 0px #E7090936;
}

.madvisorpara {
    margin: 0;
    color: #fff;
    font-size: 22px;

    @media screen and (max-width: 330px) {
        font-size: 18px;
    }
}

.goBackImgContainer {
    width: 10px;
}

.goBackTxt {
    color: $color-text-secondary;
    font-size: 14px;
    margin: 0 10px;
}

.formInput {
    width: 100%;
    outline: none;
    border: 0;
}

// .formInput:pon
.backgroundImage {
    position: absolute;
    // z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid indianred;
    // background-color: black;
    display: flex;
}


.cursorPointer {
    display: flex;
    align-items: center;

    :hover {
        cursor: pointer;
    }

}
