.wrapper {
    // border: 10px solid greenyellow;
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    bottom: 0;
    // height: 100vh;
    background-color: rgb(112, 112, 112, 0.9);
    z-index: 3;

    // display: none;
    @media screen and (min-width: 581px) {
        display: none;
    }
}

.container {
    // border: 10px solid green;
    background-color: #fff;
    margin: 0 15% 0 0;
    padding: 0 5%;
}