.mcontactadvisor {
    // margin: 4% 10%;
    padding: 7px;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(233, 20, 49, 1) 0%, rgba(162, 34, 45, 1) 100%);
    box-shadow: 0px 4px 20px 0px #E7090936;
    -webkit-box-shadow: 0px 4px 20px 0px #E7090936;
    -moz-box-shadow: 0px 4px 20px 0px #E7090936;
}

.madvisorpara {
    margin: 0;
    color: #fff;
    font-size: 22px;

    @media screen and (max-width: 330px) {
        font-size: 18px;
    }
}