.resuable-btn {
    background: transparent linear-gradient(180deg, #EE1633 0%, #A7202E 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    height: 48px;
    border: none;
    color: #fff;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    >span {
        margin-right: 10px !important;
    }
}